/*
* @Author: K2 Digital ( https://k2.digital/ ) [tech@k2.digital]
* @Date:   2017-02-18 00:18:30
* @Last Modified by:   AT
* @Last Modified time: 2017-02-18 00:23:47
*/
html, body{
	padding: 0;
	margin: 0;
	font-size: 0;
}